# dataset
Data/Scientific_Paper_Dataset.csv
Data/Images
Data/Figures

# cache
Code/__pycache__

# logs and checkpoints
Code/cite_logs
Code/lightning_logs
Code/tb_logs
Code/tb_abs_logs
Code/tb_t_abs_logs
Code/tb_text_figures_logs
Code/tb_text_image_logs
Code/tb_image_logs
Code/tb_figures_logs
Code/year_logs
Code/.ipynb_checkpoints

# unnecessary Code
Code/test.py
Code/hyperparameter_tuning.py
Code/Data_scraping.py
Code/Data_cleaning.py
Code/clean_checkpoints.py
Code/venues.py
Code/Image_extraction.py
Code/Abstract_extraction.py
Code/Paper_Classification.ipynb
Code/Figures_extraction.py
Code/Visualization.ipynb

#unnecessary Files
Code/Articles
Code/Test
